interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada/id/BOE-A-2015-10565/metadatos
  response:
    body:
      string: "{\n    \"status\": {\n        \"code\": \"200\",\n        \"text\":
        \"ok\"\n    },\n    \"data\": [\n        {\n            \"fecha_actualizacion\":
        \"20260715T081107Z\",\n            \"identificador\": \"BOE-A-2015-10565\",\n
        \           \"ambito\": {\n                \"codigo\": \"1\",\n                \"texto\":
        \"Estatal\"\n            },\n            \"departamento\": {\n                \"codigo\":
        \"7723\",\n                \"texto\": \"Jefatura del Estado\"\n            },\n
        \           \"rango\": {\n                \"codigo\": \"1300\",\n                \"texto\":
        \"Ley\"\n            },\n            \"fecha_disposicion\": \"20151001\",\n
        \           \"numero_oficial\": \"39\\/2015\",\n            \"titulo\": \"Ley
        39\\/2015, de 1 de octubre, del Procedimiento Administrativo Com\\u00fan de
        las Administraciones P\\u00fablicas.\",\n            \"diario\": \"Bolet\\u00edn
        Oficial del Estado\",\n            \"fecha_publicacion\": \"20151002\",\n
        \           \"diario_numero\": \"236\",\n            \"fecha_vigencia\": \"20161002\",\n
        \           \"estatus_derogacion\": \"N\",\n            \"estatus_anulacion\":
        \"N\",\n            \"vigencia_agotada\": \"N\",\n            \"estado_consolidacion\":
        {\n                \"codigo\": \"3\",\n                \"texto\": \"Finalizado\"\n
        \           },\n            \"url_eli\": \"https:\\/\\/www.boe.es\\/eli\\/es\\/l\\/2015\\/10\\/01\\/39\",\n
        \           \"url_html_consolidada\": \"https:\\/\\/www.boe.es\\/buscar\\/act.php?id=BOE-A-2015-10565\"\n
        \       }\n    ]\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
