interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada/id/BOE-A-1992-26318/analisis
  response:
    body:
      string: "{\n    \"status\": {\n        \"code\": \"200\",\n        \"text\":
        \"ok\"\n    },\n    \"data\": [\n        {\n            \"materias\": [\n
        \               {\n                    \"materia\": {\n                        \"codigo\":
        \"6219\",\n                        \"texto\": \"Responsabilidad Civil de la
        Administraci\\u00f3n\"\n                    }\n                }\n            ],\n
        \           \"notas\": {\n                \"nota\": \"La fecha de derogaci\\u00f3n
        se establece de acuerdo con la disposici\\u00f3n derogatoria \\u00fanica.2.a),
        en relaci\\u00f3n con la disposici\\u00f3n final 7 de  la Ley 39\\/2015, de
        1 de octubre. BOE-A-2015-10565\"\n            },\n            \"referencias\":
        {\n                \"anteriores\": [\n                    {\n                        \"anterior\":
        [\n                            {\n                                \"id_norma\":
        \"BOE-A-1958-11341\",\n                                \"relacion\": {\n                                    \"codigo\":
        \"210\",\n                                    \"texto\": \"DEROGA\"\n                                },\n
        \                               \"texto\": \"parcialmente la Ley sobre procedimiento
        administrativo, de 17 de julio de 1958\"\n                            },\n
        \                           {\n                                \"id_norma\":
        \"BOE-A-1957-10111\",\n                                \"relacion[...]
