interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada?query=%7B%22query%22%3A+%7B%22query_string%22%3A+%7B%22query%22%3A+%22titulo%3A%28Ley+30%2F1992%29%22%7D%7D%7D&limit=6&offset=0
  response:
    body:
      string: "{\n    \"status\": {\n        \"code\": \"200\",\n        \"text\":
        \"ok\"\n    },\n    \"data\": [\n        {\n            \"fecha_actualizacion\":
        \"20260626T073729Z\",\n            \"identificador\": \"BOE-A-1992-26318\",\n
        \           \"ambito\": {\n                \"codigo\": \"1\",\n                \"texto\":
        \"Estatal\"\n            },\n            \"departamento\": {\n                \"codigo\":
        \"7723\",\n                \"texto\": \"Jefatura del Estado\"\n            },\n
        \           \"rango\": {\n                \"codigo\": \"1300\",\n                \"texto\":
        \"Ley\"\n            },\n            \"fecha_disposicion\": \"19921126\",\n
        \           \"numero_oficial\": \"30\\/1992\",\n            \"titulo\": \"Ley
        30\\/1992, de 26 de noviembre, de R\\u00e9gimen Jur\\u00eddico de las Administraciones
        P\\u00fablicas y del Procedimiento Administrativo Com\\u00fan.\",\n            \"diario\":
        \"Bolet\\u00edn Oficial del Estado\",\n            \"fecha_publicacion\":
        \"19921127\",\n            \"diario_numero\": \"285\",\n            \"fecha_vigencia\":
        \"19930227\",\n            \"vigencia_agotada\": \"S\",\n            \"estado_consolidacion\":
        {\n                \"codigo\": \"3\",\n                \"texto\": \"Finalizado\"\n
        \           },\n            \"url_eli\": \"https:\\/\\/www.boe.es\\/eli\\/es\\/l\\/1992\\/11\\/26\\/30\",\n
        \           \"url_html_consolidada\": \"https:\\/\\/www.boe.es\\/buscar\\/act.php?id=BOE-A-1992-26318\"\n
        \       },\n        {\n            \"fecha_actualizacion\": \"20251219T123636Z\",\n
        \           \"identificador\": \"BOE-A-2010-3034\",\n            \"ambito\":
        {\n                \"codigo\": \"1\",\n                \"texto\": \"Estatal\"\n
        \           },\n            \"departamento\": {\n                \"codigo\":
        \"7710\",\n                \"texto\": \"Ministerio de la Presidencia\"\n [...]
