interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada?query=%7B%22query%22%3A+%7B%22query_string%22%3A+%7B%22query%22%3A+%22titulo%3A%28Ley+30%2F1992%29%22%7D%7D%7D&limit=6&offset=0
  response:
    body:
      string: "{\n    \"status\": {\n        \"code\": \"200\",\n        \"text\":
        \"ok\"\n    },\n    \"data\": [\n        {\n            \"fecha_actualizacion\":
        \"20260626T073729Z\",\n            \"identificador\": \"BOE-A-1992-26318\",\n
        \           \"ambito\": {\n                \"codigo\": \"1\",\n                \"texto\":
        \"Estatal\"\n            },\n            \"departamento\": {\n                \"codigo\":
        \"7723\",\n                \"texto\": \"Jefatura del Estado\"\n            },\n
        \           \"rango\": {\n                \"codigo\": \"1300\",\n                \"texto\":
        \"Ley\"\n            },\n            \"fecha_disposicion\": \"19921126\",\n
        \           \"numero_oficial\": \"30\\/1992\",\n            \"titulo\": \"Ley
        30\\/1992, de 26 de noviembre, de R\\u00e9gimen Jur\\u00eddico de las Administraciones
        P\\u00fablicas y del Procedimiento Administrativo Com\\u00fan.\",\n            \"diario\":
        \"Bolet\\u00edn Oficial del Estado\",\n            \"fecha_publicacion\":
        \"19921127\",\n            \"diario_numero\": \"285\",\n            \"fecha_vigencia\":
        \"19930227\",\n            \"vigencia_agotada\": \"S\",\n            \"estado_consolidacion\":
        {\n                \"codigo\": \"3\",\n                \"texto\": \"Finalizado\"\n
        \           },\n            \"url_eli\": \"https:\\/\\/www.boe.es\\/eli\\/es\\/l\\/1992\\/11\\/26\\/30\",\n
        \           \"url_html_consolidada\": \"https:\\/\\/www.boe.es\\/buscar\\/act.php?id=BOE-A-1992-26318\"\n
        \       },\n        {\n            \"fecha_actualizacion\": \"20251219T123636Z\",\n
        \           \"identificador\": \"BOE-A-2010-3034\",\n            \"ambito\":
        {\n                \"codigo\": \"1\",\n                \"texto\": \"Estatal\"\n
        \           },\n            \"departamento\": {\n                \"codigo\":
        \"7710\",\n                \"texto\": \"Ministerio de la Presidencia\"\n [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada/id/BOE-A-1992-26318/metadatos
  response:
    body:
      string: "{\n    \"status\": {\n        \"code\": \"200\",\n        \"text\":
        \"ok\"\n    },\n    \"data\": [\n        {\n            \"fecha_actualizacion\":
        \"20260626T073729Z\",\n            \"identificador\": \"BOE-A-1992-26318\",\n
        \           \"ambito\": {\n                \"codigo\": \"1\",\n                \"texto\":
        \"Estatal\"\n            },\n            \"departamento\": {\n                \"codigo\":
        \"7723\",\n                \"texto\": \"Jefatura del Estado\"\n            },\n
        \           \"rango\": {\n                \"codigo\": \"1300\",\n                \"texto\":
        \"Ley\"\n            },\n            \"fecha_disposicion\": \"19921126\",\n
        \           \"numero_oficial\": \"30\\/1992\",\n            \"titulo\": \"Ley
        30\\/1992, de 26 de noviembre, de R\\u00e9gimen Jur\\u00eddico de las Administraciones
        P\\u00fablicas y del Procedimiento Administrativo Com\\u00fan.\",\n            \"diario\":
        \"Bolet\\u00edn Oficial del Estado\",\n            \"fecha_publicacion\":
        \"19921127\",\n            \"diario_numero\": \"285\",\n            \"fecha_vigencia\":
        \"19930227\",\n            \"estatus_derogacion\": \"S\",\n            \"fecha_derogacion\":
        \"20210402\",\n            \"estatus_anulacion\": \"N\",\n            \"vigencia_agotada\":
        \"S\",\n            \"estado_consolidacion\": {\n                \"codigo\":
        \"3\",\n                \"texto\": \"Finalizado\"\n            },\n            \"url_eli\":
        \"https:\\/\\/www.boe.es\\/eli\\/es\\/l\\/1992\\/11\\/26\\/30\",\n            \"url_html_consolidada\":
        \"https:\\/\\/www.boe.es\\/buscar\\/act.php?id=BOE-A-1992-26318\"\n        }\n
        \   ]\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada/id/BOE-A-1992-26318/analisis
  response:
    body:
      string: "{\n    \"status\": {\n        \"code\": \"200\",\n        \"text\":
        \"ok\"\n    },\n    \"data\": [\n        {\n            \"materias\": [\n
        \               {\n                    \"materia\": {\n                        \"codigo\":
        \"6219\",\n                        \"texto\": \"Responsabilidad Civil de la
        Administraci\\u00f3n\"\n                    }\n                }\n            ],\n
        \           \"notas\": {\n                \"nota\": \"La fecha de derogaci\\u00f3n
        se establece de acuerdo con la disposici\\u00f3n derogatoria \\u00fanica.2.a),
        en relaci\\u00f3n con la disposici\\u00f3n final 7 de  la Ley 39\\/2015, de
        1 de octubre. BOE-A-2015-10565\"\n            },\n            \"referencias\":
        {\n                \"anteriores\": [\n                    {\n                        \"anterior\":
        [\n                            {\n                                \"id_norma\":
        \"BOE-A-1958-11341\",\n                                \"relacion\": {\n                                    \"codigo\":
        \"210\",\n                                    \"texto\": \"DEROGA\"\n                                },\n
        \                               \"texto\": \"parcialmente la Ley sobre procedimiento
        administrativo, de 17 de julio de 1958\"\n                            },\n
        \                           {\n                                \"id_norma\":
        \"BOE-A-1957-10111\",\n                                \"relacion[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada/id/BOE-A-1992-26318/texto/indice
  response:
    body:
      string: "{\n    \"status\": {\n        \"code\": \"200\",\n        \"text\":
        \"ok\"\n    },\n    \"data\": [\n        {\n            \"bloque\": [\n                {\n
        \                   \"id\": \"no\",\n                    \"titulo\": \"\",\n
        \                   \"fecha_actualizacion\": \"20151002\",\n                    \"url\":
        \"https:\\/\\/www.boe.es\\/datosabiertos\\/api\\/legislacion-consolidada\\/id\\/BOE-A-1992-26318\\/texto\\/bloque\\/no\"\n
        \               },\n                {\n                    \"id\": \"preambulo\",\n
        \                   \"titulo\": \"\",\n                    \"fecha_actualizacion\":
        \"19921127\",\n                    \"url\": \"https:\\/\\/www.boe.es\\/datosabiertos\\/api\\/legislacion-consolidada\\/id\\/BOE-A-1992-26318\\/texto\\/bloque\\/preambulo\"\n
  [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada/id/BOE-A-1992-26318/texto/bloque/a42
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<response>\n  <status>\n
        \   <code>400</code>\n    <text>No soportado ning\xFAn mime type de la cabecera
        Accept.</text>\n  </status>\n  <data/>\n</response>\n"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://publications.europa.eu/webapi/rdf/sparql?query=PREFIX+cdm%3A+%3Chttp%3A%2F%2Fpublications.europa.eu%2Fontology%2Fcdm%23%3E%0A%0ASELECT+%3Finforce+%3Feif+%3Fendval+WHERE+%7B%0A++%3Fwork+cdm%3Aresource_legal_id_celex+%3Fcelex+.%0A++FILTER%28STR%28%3Fcelex%29+%3D+%2232016R0679%22%29%0A++OPTIONAL+%7B+%3Fwork+cdm%3Aresource_legal_in-force+%3Finforce+%7D%0A++OPTIONAL+%7B+%3Fwork+cdm%3Aresource_legal_date_entry-into-force+%3Feif+%7D%0A++OPTIONAL+%7B+%3Fwork+cdm%3Aresource_legal_date_end-of-validity+%3Fendval+%7D%0A%7D%0A&format=application%2Fsparql-results%2Bjson
  response:
    body:
      string: "\n{ \"head\": { \"link\": [], \"vars\": [\"inforce\", \"eif\", \"endval\"]
        },\n  \"results\": { \"distinct\": false, \"ordered\": true, \"bindings\":
        [\n    { \"inforce\": { \"type\": \"literal\", \"datatype\": \"http://www.w3.org/2001/XMLSchema#boolean\",
        \"value\": \"1\" }\t, \"eif\": { \"type\": \"literal\", \"datatype\": \"http://www.w3.org/2001/XMLSchema#date\",
        \"value\": \"2016-05-24\" }\t, \"endval\": { \"type\": \"literal\", \"datatype\":
        \"http://www.w3.org/2001/XMLSchema#date\", \"value\": \"9999-12-31\" }},\n
        \   { \"inforce\": { \"type\": \"literal\", \"datatype\": \"http://www.w3.org/2001/XMLSchema#boolean\",
        \"value\": \"1\" }\t, \"eif\": { \"type\": \"literal\", \"datatype\": \"http://www.w3.org/2001/XMLSchema#date\",
        \"value\": \"2018-05-25\" }\t, \"endval\": { \"type\": \"literal\", \"datatype\":
        \"http://www.w3.org/2001/XMLSchema#date\", \"value\": \"9999-12-31\" }} ]
        } }"
    headers:
      content-disposition:
      - filename=sparql_2026-07-24_19-37-03Z.json
      content-type:
      - application/sparql-results+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://publications.europa.eu/webapi/rdf/sparql?query=PREFIX+cdm%3A+%3Chttp%3A%2F%2Fpublications.europa.eu%2Fontology%2Fcdm%23%3E%0A%0ASELECT+DISTINCT+%3Fderogante+WHERE+%7B%0A++%3Fwork+cdm%3Aresource_legal_id_celex+%3Fc+.%0A++FILTER%28STR%28%3Fc%29+%3D+%2232016R0679%22%29%0A++%3Fotro+cdm%3Aresource_legal_repeals_resource_legal+%3Fwork+.%0A++%3Fotro+cdm%3Aresource_legal_id_celex+%3Fderogante+.%0A%7D%0A&format=application%2Fsparql-results%2Bjson
  response:
    body:
      string: "\n{ \"head\": { \"link\": [], \"vars\": [\"derogante\"] },\n  \"results\":
        { \"distinct\": false, \"ordered\": true, \"bindings\": [ ] } }"
    headers:
      content-disposition:
      - filename=sparql_2026-07-24_19-37-03Z.json
      content-type:
      - application/sparql-results+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://publications.europa.eu/webapi/rdf/sparql?query=PREFIX+cdm%3A+%3Chttp%3A%2F%2Fpublications.europa.eu%2Fontology%2Fcdm%23%3E%0A%0ASELECT+%3Finforce+%3Feif+%3Fendval+WHERE+%7B%0A++%3Fwork+cdm%3Aresource_legal_id_celex+%3Fcelex+.%0A++FILTER%28STR%28%3Fcelex%29+%3D+%2231995L0046%22%29%0A++OPTIONAL+%7B+%3Fwork+cdm%3Aresource_legal_in-force+%3Finforce+%7D%0A++OPTIONAL+%7B+%3Fwork+cdm%3Aresource_legal_date_entry-into-force+%3Feif+%7D%0A++OPTIONAL+%7B+%3Fwork+cdm%3Aresource_legal_date_end-of-validity+%3Fendval+%7D%0A%7D%0A&format=application%2Fsparql-results%2Bjson
  response:
    body:
      string: "\n{ \"head\": { \"link\": [], \"vars\": [\"inforce\", \"eif\", \"endval\"]
        },\n  \"results\": { \"distinct\": false, \"ordered\": true, \"bindings\":
        [\n    { \"inforce\": { \"type\": \"literal\", \"datatype\": \"http://www.w3.org/2001/XMLSchema#boolean\",
        \"value\": \"0\" }\t, \"eif\": { \"type\": \"literal\", \"datatype\": \"http://www.w3.org/2001/XMLSchema#date\",
        \"value\": \"1995-12-13\" }\t, \"endval\": { \"type\": \"literal\", \"datatype\":
        \"http://www.w3.org/2001/XMLSchema#date\", \"value\": \"2018-05-24\" }} ]
        } }"
    headers:
      content-disposition:
      - filename=sparql_2026-07-24_19-37-04Z.json
      content-type:
      - application/sparql-results+json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://publications.europa.eu/webapi/rdf/sparql?query=PREFIX+cdm%3A+%3Chttp%3A%2F%2Fpublications.europa.eu%2Fontology%2Fcdm%23%3E%0A%0ASELECT+DISTINCT+%3Fderogante+WHERE+%7B%0A++%3Fwork+cdm%3Aresource_legal_id_celex+%3Fc+.%0A++FILTER%28STR%28%3Fc%29+%3D+%2231995L0046%22%29%0A++%3Fotro+cdm%3Aresource_legal_repeals_resource_legal+%3Fwork+.%0A++%3Fotro+cdm%3Aresource_legal_id_celex+%3Fderogante+.%0A%7D%0A&format=application%2Fsparql-results%2Bjson
  response:
    body:
      string: "\n{ \"head\": { \"link\": [], \"vars\": [\"derogante\"] },\n  \"results\":
        { \"distinct\": false, \"ordered\": true, \"bindings\": [\n    { \"derogante\":
        { \"type\": \"literal\", \"datatype\": \"http://www.w3.org/2001/XMLSchema#string\",
        \"value\": \"32016R0679\" }} ] } }"
    headers:
      content-disposition:
      - filename=sparql_2026-07-24_19-37-04Z.json
      content-type:
      - application/sparql-results+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada/id/BOE-A-2015-11430/texto/bloque/a55
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<response>\n  <status>\n
        \   <code>400</code>\n    <text>No soportado ning\xFAn mime type de la cabecera
        Accept.</text>\n  </status>\n  <data/>\n</response>\n"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: Bad Request
version: 1
