interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.boe.es/datosabiertos/api/legislacion-consolidada?query=%7B%22query%22%3A+%7B%22query_string%22%3A+%7B%22query%22%3A+%22titulo%3A%28Ley+999%2F2099%29%22%7D%7D%7D&limit=6&offset=0
  response:
    body:
      string: "{\n    \"status\": {\n        \"code\": \"200\",\n        \"text\":
        \"ok\"\n    },\n    \"data\": \"\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
